* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
.parent_navigation_start {
  min-height: 7vh;
  position: relative;
}
.navigation_start_here {
  overflow: hidden;
  width: 100%;
}
.navigation_start_here ul {
  list-style: none;
  text-align: center;
}
.navigation_start_here ul li {
  display: inline;
}
.navigation_start_here ul li a {
  text-decoration: none;
  line-height: 8vh;
  padding: 1% 1%;
  font-weight: 700;
  color: whitesmoke;
}
#mainbutton_right_side {
  position: absolute;
  right: 13px;
  top: 13px;
  background-color: whitesmoke;
  display: none;
}
#mainbutton_right_side:hover {
  background-color: rgba(255, 255, 255, 0.705);
  border: 2px solid rgb(17, 108, 228);
}
.hello {
  position: relative;
}
.hover_container {
  min-height: 10vh;
  width: 60%;
  position: absolute;
  bottom: 5%;
  color: white;
  left: 20%;
  text-align: center;
}
.hover_container h1 {
  padding: 7%;
  color: white;
}

@media (max-width: 1000px) {
  .parent_navigation_start {
    background-color: black;
    min-height: 7vh;
    position: relative;
  }
  .navigation_start_here {
    display: none;
    padding-top: 8vh;
  }
  #mainbutton_right_side {
    display: block;
  }
  .navigation_start_here ul li {
    display: block;
  }
  .navigation_start_here ul li a {
    font-size: 20px;
  }
}

/**************new site**********/
h1 {
  font-size: 28px;
  font: bold;
  font-weight: 600;
}
h5 {
  font-size: 20px;
  font: bold;
}
p {
  font-size: 18px;
}
* {
  color: black;
  list-style-type: none;
}
ul {
  padding: 0;
  margin: 0;
}
.center_text {
  text-align: center;
}
.padding_container {
  padding: 6vh 0% 6vh 0%;
}
.bg_yellow {
  background-color: #ffc000 !important;
}
.justing {
  position: relative;
}
.hegoing {
  position: absolute;
  top: 0px;
  z-index: 200;
}
@media (max-width: 768px) {
  .justing {
    position: none;
  }
  .hegoing {
    position: none;
    top: 0px;
  }
} /************************parking owner and earn with us start************/
.two_container_main {
  min-height: 40vh;
  background-image: url(images/bck.jpg);
}
.paintering {
  cursor: pointer;
  padding: 6vh 0%;
}
/***********************What ParkingMudde Application Do? start*****************/
.parking_mudde_height {
  min-height: 50vh;
}
.parking_mudde_application {
  background-image: url(images/Image_hero_h.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.button_hover:hover {
  cursor: pointer;
}
.contant_min_height {
  min-height: 40vh;
}
/************************parking owner and earn with us start************/
/***********************/
.box_container_data {
  min-height: 15vh;
}
.box_container_data p {
  padding: 0% 2%;
}
.upper_container {
  display: flex;
  flex-wrap: wrap;
}
.image_container {
  width: 30%;
  overflow: hidden;
}
.image_container img {
  height: 100px;
  width: 100px;
}
.text_container {
  width: 70%;
}
/***********************/

.two_container_main {
  min-height: 40vh;
}
/****************************big card containers start******************/
.car_animation {
  overflow: hidden;
}
.car_image_container {
  overflow: hidden;
}

.car_image_container img {
  margin-left: 350px;
}
.padding_left_text_container_car {
  padding: 0% 5% 0% 5%;
}
/****************************number data start*************/
.padding_image img {
  padding: 0% 25%;
  min-height: 140px;
}
.number_data_bold p {
  font-weight: 500;
  font: bold;
}
/*****************The Future That You Will See Soon start**************/
.big_text {
  width: 90px !important;
  height: 90px !important;
  border-radius: 100%;
  margin: auto;
}
.big_text p {
  line-height: 130px;
}

.display_flexing_future_container {
  display: flex;
  flex-wrap: wrap;
}
.future_boxing_data {
  width: 20%;
}

.flexing_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flexing_dataon {
  width: 19.2%;
  margin-top: 20px;
}
/********************testimonial start*****************/

.testimonial_height {
  min-height: 50vh;
}
.testimonial_logo {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  margin: auto;
  overflow: hidden;
}
.margin_top_card {
  margin-top: 180px;
}
.main_carousel .carousel-cell {
  width: 460px;
  padding-top: 20vh;
  min-height: 90vh;
  margin-right: 30px;
  counter-increment: carousel-cell;
  overflow: hidden;
}
/**********************JOIN OUR MAIL LIST FOR EXCLUSIVE start*************/
.join_exclusive_container {
  min-height: 40vh;
}
.join_exclusive_container input {
  height: 45px;
  padding-left: 1%;
  font-weight: 600;
  width: 30%;
}
.join_exclusive_container #button_submit {
  width: auto;
  padding: 0% 5%;
}

/**************************Get in touch start*************/
.getintouch {
  min-height: 80vh;
  padding-top: 2vh;
}
.form_map {
  min-height: 50vh;
}
.getintouch_form {
  padding: 2% 0% 0% 2%;
}
.getintouch_form input {
  width: 80%;
  height: 45px;
  font-weight: 600;
  padding-left: 1%;
}
.getintouch_form textarea {
  height: 50vh;
  width: 80%;
  padding: 1% 0% 0% 1%;
  font-weight: 600;
}
/*********************9th section start************/
.image_padding img {
  height: 100px !important;
  width: 100px !important;
  margin-left: 10px !important;
}

/*********************add banner start**************/
.add_banner .carousel-cell {
  width: 90%;
  min-height: max-content;
  margin-right: 30px;
  counter-increment: carousel-cell;
  border: 1px solid black;
  text-align: center;
  overflow: hidden;
}

/**********************lower footer start**************/
.margin_top_minus {
  margin-top: -250px;
}
.margin_footer_start {
  margin-top: 0px !important;
}
.main_height_card_footer {
  min-height: 40vh;
}
.lower_footer_logo i {
  color: #ffc000;
  text-shadow: 1px 1px 4px white;
  font-size: 100px;
  padding: 5vh 0%;
}
.medium_footer_form_container {
  font-weight: 600;
  padding-top: 15vh;
  padding-bottom: 15vh;
}
.medium_footer_form_container input {
  font-weight: 600;
  width: 80%;
  height: 45px;
}
.medium_footer_form_container textarea {
  width: 80%;
}
.left_text {
  text-align: left;
  margin-left: 10%;
}
.navigation_footer li {
  display: inline;
  margin-right: 30px;
}
.navigation_footer li a {
  font-size: 40px;
}
.navigation_footer li a i {
  text-shadow: 1px 1px 4px white;
}
/***************footer start***********/
.lower_footer_height {
  min-height: 30vh;
}
.lower_footer {
  background-color: black;
}
#textareabold textarea {
  font-weight: 600;
}
/**************media query start***************/
@media (max-width: 1200px) {
  .future_boxing_data {
    width: 24.25%;
  }
  .flexing_dataon {
    width: 24.25%;
  }
}
@media (max-width: 992px) {
  .future_boxing_data {
    width: 32.66%;
  }
  .main_hidden_phone_container {
    display: none;
  }
  .flexing_dataon {
    width: 32.66%;
  }
  .padding_for_fun_image {
    padding: 3vh 0%;
  }
  .displaying_none_phone {
    display: none;
  }
  #mobile_height {
    height: 50vh;
    width: 40% !important;
  }
  .padding_for_phone_image {
    padding-top: 2vh;
  }
  #hidden_car_image {
    display: none;
  }
  .margin_top {
    margin-top: 20px;
  }

  .margin_top_card {
    margin-top: 25px;
  }
  .main_testimonial_container {
    padding-bottom: 5vh;
  }
  .getintouch_form textarea {
    height: 30vh;
  }
  .medium_footer_form_container_second {
    margin-top: 50px;
  }
  .padding_left_text_container_car {
    padding: 0% 3% 0% 3%;
  }
}
@media (max-width: 768px) {
  .button_hover img {
    margin-top: 20px;
  }
  .flexing_dataon {
    width: 49.5%;
  }
  #mainbutton_right_side {
    top: 5px;
    right: 5px;
  }
  .hover_container h1 {
    font-size: 18px !important;
  }
  #hidden_phone {
    display: none;
  }
  .join_exclusive_container input {
    height: 40px;
    width: 80%;
    margin-top: 20px;
  }
  .inputing_sizing input {
    width: 95%;
  }
  .inputing_sizing textarea {
    font-weight: 600;
    width: 95%;
  }
  .left_text {
    margin-left: 2.5%;
  }
  #mobile_height {
    width: 80%;
  }
  .main_carousel .carousel-cell {
    height: 60vh;
    width: 300px;
    padding-top: 10vh;
  }
  .padding_left_text_container_car {
    padding: 0% 0% 0% 0%;
  }
}
@media (max-width: 700px) {
  .flexing_dataon {
    width: 100%;
  }
}
@media (max-width: 300px) {
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 22px;
  }
  .car_image_container img {
    margin-left: 130px;
  }
}
/***************afk**********/
.main_gg_container img {
  width: 70px !important;
  height: 70px !important;
  border-radius: 10px;
}
.main_gg_container ul {
  width: 100%;
  list-style-type: none;
  padding-right: 10px;
}
.main_gg_container li {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.main_gg_container li > div {
  margin-left: 10px;
}
.main_gg_container li > div > span {
  font: 28px bold;
}
a {
  text-decoration: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
input,
textarea,
p {
  font-weight: 400 !important;
  font-family: "Nunito", sans-serif !important;
}
h1 {
  font-size: 28px !important;
  font: bold !important;
}
h2 {
  font-size: 20px !important;
}
p {
  font-size: 16px !important;
}
.number_data_bold p {
  font-size: 18px !important;
  font: bold !important;
}
.hello_padandnaslnd,
span,
p {
  font-family: "Nunito", sans-serif !important;
  font: bold !;
  font-size: 18px !important;
}
.hello_padandnaslnd {
  font-size: 16px !important;
}
#this_is_for_fun {
  width: auto;
  padding: 0% 2%;
  font-weight: 500 !important;
}

/*******************how its work*************/
.hello_how_it_works {
  padding: 3vh 0%;
}

.hello_how_it_works h2 {
  font-size: 24px !important;
}
.hello_how_it_works p {
  font-size: 20px !important;
  padding: 0% 5%;
}
.hello_how_it_works .carousel {
  background: #eee;
}
.big_textting_how_it_work {
  border-radius: 50%;
  padding: 1% 5%;
  background-color: rgb(0, 0, 0);
  font-size: 70px !important;
  color: white;
}
.hello_how_it_works .carousel-cell {
  width: 100%;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

/* cell number */
.hello_how_it_works .carousel-cell:before {
  display: block;
  text-align: center;
  font-size: 80px;
  color: white;
}
